package views

templ SearchCard(setCode, collectorNumber string) {
    <form method="POST">
  <div>
  <input name="setCode" value={setCode}/>
  <input name="collectorNumber" value={collectorNumber} />
  <button type="submit">Search</button>
  </div>
  </form>
}

